@page "/import"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Import</h3>

<div>
    <span>Import clients</span>
    <InputFile OnChange="@LoadFiles" multiple />
</div>
<div>
    <span>Import prestations</span>
    <InputFile OnChange="@LoadFilesForServices" multiple />
</div>

@if (ImportState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>
        @if (ImportState.Value.CreatedClients.Count() > 0)
        {
            <div>Nombre de clients créés : @ImportState.Value.CreatedClients.Count() </div>
            foreach (var client in ImportState.Value.CreatedClients)
            {
                <ClientCard Client="@client" />
            }
        }
        else
        {
            <span>Aucun client de créé</span>
        }
    </div>

    <div>
        @if (ImportState.Value.CreatedServices.Count() > 0)
        {
            <div>Nombre de prestations créées : @ImportState.Value.CreatedServices.Count() </div>
            foreach (var service in ImportState.Value.CreatedServices)
            {
                <div>
                    <span>@service.Name</span>
                    <span>@service.Unit</span>
                    <span>@service.Price</span>
                </div>
            }
        }
        else
        {
            <span>Aucune prestation de créée</span>
        }
    </div>
}
