@page "/import"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Import</h3>

<InputFile OnChange="@LoadFiles" multiple />

@if (ImportState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>
        @if (ImportState.Value.CreatedClients.Count() > 0)
        {
            <div>Nombre de clients créés : @ImportState.Value.CreatedClients.Count() </div>
            foreach (var client in ImportState.Value.CreatedClients)
            {
                <div>
                    <span>Nom : @client.Name</span>
                    <span>Numero de telephone : @client.PhoneNumber</span>
                    <span>Email : @client.Email</span>
                </div>

            }
        }
        else
        {
            <span>Aucun client de créé</span>
        }
    </div>
}
