@page "/clients/{Action}"
@page "/clients/{Action}/{ClientId}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Client form</h3>

<button type="button" @onclick="@(async () => await RedirectToClientList())">Retour à la liste</button>

<div>
    <EditForm Model="ClientState.Value.Client" OnValidSubmit="@SaveClient">
        <DataAnnotationsValidator />

        @* Name *@
        <div>
            <label for="@nameof(ClientState.Value.Client.Name)">Nom :</label>
            <InputText @bind-Value="@ClientState.Value.Client.Name" />
        </div>

        @* Email *@
        <div>
            <label for="@nameof(ClientState.Value.Client.Email)">Email :</label>
            <InputText @bind-Value="@ClientState.Value.Client.Email" />
        </div>

        @* PhoneNumber *@
        <div>
            <label for="@nameof(ClientState.Value.Client.PhoneNumber)">Numéro de téléphone :</label>
            <InputText @bind-Value="@ClientState.Value.Client.PhoneNumber" />
        </div>

        @* Street *@
        <div>
            <label for="@nameof(ClientState.Value.Address.Street)">Rue :</label>
            <InputText @bind-Value="@ClientState.Value.Address.Street" />
        </div>

        @* ZipCode *@
        <div>
            <label for="@nameof(ClientState.Value.Address.ZipCode)">Code postal :</label>
            <InputText @bind-Value="@ClientState.Value.Address.ZipCode" />
        </div>

        @* City *@
        <div>
            <label for="@nameof(ClientState.Value.Address.City)">Ville :</label>
            <InputText @bind-Value="@ClientState.Value.Address.City" />
        </div>

        @* Submit *@
        <div>
            <Button Type="submit" >Submit</Button>
        </div>

    </EditForm>
</div>